<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Address Book</title>
</head>
<body>
<div align="center">
    <h1>Address Book List from static</h1>
    <a href="new">Compare Address books</a>
    <br/><br/>
    <!-- table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Address Book ID</th>
                <th>Name</th>
                <th>View Contacts</th>
                <th>Add Contact</th>              
            </tr>
        </thead>
        <tbody>
            <tr th:each="addressBook : ${listAddressBooks}">
            	<td th:text="${addressBook.id}">Address Book ID</td>
                <td th:text="${addressBook.name}">Name</td>
                <td>
                	<a th:href="@{'/addressBook/' + ${addressBook.id} + '/contacts'}">View</a>                	
                </td>
                <td>
                	<a th:href="@{'/addressBook/' + ${addressBook.id} + '/contact'}">Add</a>                	
                </td>              
            </tr>
        </tbody>
    </table-->
</div>    
</body>
</html>