<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Product</title>
</head>
<body>
	<div align="center">
		<h1>Create New Address Book</h1>
		<br />
		<form action="#" th:action="@{/saveAddressBook}" th:object="${addressBook}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Address Book Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
					<td style="background-color:yellow" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Enter Value for Name</td>
					<td><div style="background-color:yellow" th:if="${errorMessage != null}" th:text="${errorMessage}"></div></td>
					
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button> </td>
				</tr>				
			</table>
		</form>
	</div>
</body>
</html>